<div class="container-fluid text-center">
    <h1>About DevMatch</h1>
    <p>We are DevMatch. Our company focuses on creating an exclusive community
    developers and entrepreneours to meet. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel ullam a vitae doloribus tenetur quibusdam quam sapiente eveniet perferendis deserunt ea illo labore pariatur repellendus, sed aut doloremque saepe laudantium.</p>
</div>